server:
  port: 8762

spring:
  application:
    name: Config-Service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/cetekot/tax-config
          searchPaths: config-files

logging:
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: debug

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/